@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

body {
  margin: 2%;
  font-family: 'Noto Serif JP', sans-serif;
  line-height: 1.75;
}

h1 {
  font-family: 'Bungee', sans-serif;
}